Feature request: Add several date format

Hello, it would be nice to have an option to choose between multiple date format from the setting panel.

For exemple : 
Nov 11, 2024 11:00pm
Nov 11, 2024
11/11/2024 11:00pm
11/11/2024
11/11/2024 11:00pm
11/11/2024
2024-11-11 11:00pm
2024-11-11

Hi Finkiki,

I implemented it on the server side, but ultimately I don't think it's a good idea. Users have to specify 2 time formats: `short` and `long`, and at the same time they have to use Go's specific date format to use it properly, which looks like this:

```go
const (

	Layout      = "01/02 03:04:05PM '06 -0700" // The reference time, in numerical order.
	ANSIC       = "Mon Jan _2 15:04:05 2006"
	UnixDate    = "Mon Jan _2 15:04:05 MST 2006"
	RubyDate    = "Mon Jan 02 15:04:05 -0700 2006"
	RFC822      = "02 Jan 06 15:04 MST"
	RFC822Z     = "02 Jan 06 15:04 -0700" // RFC822 with numeric zone
	RFC850      = "Monday, 02-Jan-06 15:04:05 MST"
	RFC1123     = "Mon, 02 Jan 2006 15:04:05 MST"
	RFC1123Z    = "Mon, 02 Jan 2006 15:04:05 -0700" // RFC1123 with numeric zone
	RFC3339     = "2006-01-02T15:04:05Z07:00"
	RFC3339Nano = "2006-01-02T15:04:05.999999999Z07:00"
	Kitchen     = "3:04PM"

	// Handy time stamps.
	Stamp      = "Jan _2 15:04:05"
	StampMilli = "Jan _2 15:04:05.000"
	StampMicro = "Jan _2 15:04:05.000000"
	StampNano  = "Jan _2 15:04:05.000000000"
	DateTime   = "2006-01-02 15:04:05"
	DateOnly   = "2006-01-02"
	TimeOnly   = "15:04:05"

)
```

Kinda too much. Even for me. Anyway I coded a small prototype of what it might look like in [this](https://github.com/hugmouse/vpub-plus/tree/feat/server-side-user-custom-time-format) branch.

![Prototype of a feature "custom time format" that is rendered on server side](https://github.com/user-attachments/assets/10640838-f9db-4d6a-b4fe-6c05e3409de0)

But I will not merge it to the main branch. I think this might be a good task for JavaScript - formatting time that we got from the server into user's local one using [Intl API](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat). 

It will probably looks somewhat the same in the settings, but will not be saved on the server - only in the browser.

Experimenting right now with JS instead. Let me know what you think.

https://github.com/user-attachments/assets/68631a4c-9688-4bb4-9ca9-48ebcda0269f

JS based time formatter is now available here: https://github.com/hugmouse/vpub-plus/tree/feat/js-time-formatter

![Screenshot of the feature itself](https://github.com/user-attachments/assets/926a58f7-1099-431b-a26f-e8a75bb5a9fd)

Added in version 1.12: https://github.com/hugmouse/vpub-plus/releases/tag/1.12